
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	max-width: 400px;
	margin: 5vh auto 0 auto;
	box-shadow: 0px 0px 60px 10px #1a1c1c;
	border: 1px solid #9a80a6;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
}

.display {
	text-align: right;
	height: 130px;
	line-height: 70px;
	padding: 16px;
	font-size: 50px;
	color: #000;
}

#result {
	font-size: 70px;
	font-weight: bolder;
	padding-top: 50px;
	padding-bottom: 0;
}

.buttons {
	display: grid;
	gap: 5px 5px;
	grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
}

.button {
	line-height: 80px;
	text-align: center;
	font-size: 25px;
	color: #fff;
	cursor: pointer;

}

.light-violet {
	background: #A772CF;
}

.dark-violet {
	background: #08133F;
}

.button:hover {
	background-color: #cce3e6;
	color:#000;
	transition: 0.5s ease-in-out;
}